In [44]:
import pymysql
print('连接到mysql服务器...')
# 打开数据库连接
# 用户名:hp, 密码:Hp12345.,用户名和密码需要改成你自己的mysql用户名和密码，并且要创建数据库TESTDB，并在TESTDB数据库中创建好表Student
db = pymysql.connect(host='192.168.139.137',
                     user='root',
                     password='mysql',
                     database='hello')
print('连接上了!')

连接到mysql服务器...
连接上了!

In [67]:
# 使用cursor()方法获取操作游标
cursor = db.cursor()
sql = 'select * from AGENT;'

# 使用 execute()  方法执行 SQL 查询
cursor.execute(sql)
# cursor.execute("SELECT VERSION()")

# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchall()
# for row in data:
#     print (row)
# 获取字段名称
ziduan = cursor.description
print(ziduan)
print(data)

(('AGENT_CODE', 253, None, 200, 200, 0, True), ('AGENT_NAME', 253, None, 1020, 1020, 0, True))
(('020501', '刘文昊'), ('020502', '胡宏伟'), ('020503', '陆雨晴'), ('020504', '马冬梅'), ('020505', '肖雅婷'))

### 当然你也可以使用pandas来读取数据。

In [66]:
import pandas as pd 
data = pd.read_sql(sql=sql,con=db)
data

  AGENT_CODE AGENT_NAME
0     020501        刘文昊
1     020502        胡宏伟
2     020503        陆雨晴
3     020504        马冬梅
4     020505        肖雅婷

In [25]:
db.close()