In [5]:
import cx_Oracle  # 引用模块cx_Oracle
import pandas as pd

conn = cx_Oracle.connect('SQL_LEVEL1/dbcloud@192.168.10.122:1521/oracle')  # 连接数据库

sql = """select *  from customer c"""

In [6]:
data = pd.read_sql(sql=sql,con=conn)

data

    CUST_NO CUST_NAME CUST_BIRTHDAY CUST_SEX
0   C_00091        站三    1999-02-01        男
1   C_00001       高爱敏    1986-01-06        女
2   C_00002       朱光昊    1989-07-23        男
3   C_00003       胡煜羲    1990-05-11        男
4   C_00004       黄奕轩    1997-07-04        男
..      ...       ...           ...      ...
86  C_00086       郑震雨    1985-12-03        女
87  C_00087       高悦跃    1982-02-07        女
88  C_00088       朱之文    1998-02-19        男
89  C_00089       刘佳乐    1991-10-10        女
90  C_00090        徐玮    1988-08-21        女

[91 rows x 4 columns]

In [3]:
print(data)
c.close()  # 关闭cursor

    CUST_NO CUST_NAME CUST_BIRTHDAY CUST_SEX
0   C_00091        站三    1999-02-01        男
1   C_00001       高爱敏    1986-01-06        女
2   C_00002       朱光昊    1989-07-23        男
3   C_00003       胡煜羲    1990-05-11        男
4   C_00004       黄奕轩    1997-07-04        男
..      ...       ...           ...      ...
86  C_00086       郑震雨    1985-12-03        女
87  C_00087       高悦跃    1982-02-07        女
88  C_00088       朱之文    1998-02-19        男
89  C_00089       刘佳乐    1991-10-10        女
90  C_00090        徐玮    1988-08-21        女

[91 rows x 4 columns]