In [2]:
import requests
import pandas as pd

In [14]:
# 爬取网页地址
url = ['https://www.marketbeat.com/stocks/NYSE/SPG/institutional-ownership/','https://www.marketbeat.com/stocks/NYSE/BILL/institutional-ownership/']
# 请求headers 模拟谷歌浏览器访问
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36'
}

In [15]:
def reque(url):
    return requests.get(url=url,headers=headers).text

In [29]:
urls = 'https://www.marketbeat.com/stocks/NASDAQ/'
dfs = pd.read_html(reque(urls))
dfs[0].head()

,Company,Sector,Industry,Number of Ratings,Consensus Rating,Consensus Price Target
0,AAPLApple,Computer and Technology,Electronic computers,3124,Buy,$108.33
1,AMZNAmazon.com,Retail/Wholesale,Catalog & mail-order houses,1991,Buy,"$3,440.56"
2,FBFacebook,Computer and Technology,"Computer programming, data processing, & other...",1879,Buy,$283.16
3,NFLXNetflix,Consumer Discretionary,Video tape rental,1736,Buy,$518.97
4,INTCIntel,Computer and Technology,Semiconductors & related devices,1621,Hold,$61.50

In [20]:
df = pd.DataFrame(dfs[0])

In [25]:
name = url.split('/')[5]
name

'BILL'

In [ ]:
df.to_excel("hello.xlsx",sheet_name=name)

In [13]:
df[2]

    0                              1
0 NaN     Read Your Daily Newsletter
1 NaN        Check Out My MarketBeat
2 NaN      Watch Our Tutorial Videos
3 NaN  Add a Stock to Your Watchlist
4 NaN        Set Up an Instant Alert
5 NaN  View a Company's Profile Page
6 NaN   View Our Financial Calendars
7 NaN   View Today's Analyst Ratings